<h4>Details Post</h4>
<p>
	<%= @row['content'] %>
	<br/>
	<br/>
	Added at <%= @row['create_date'] %>
</p>
<h4>Comments: </h4>

<% @comments.each do |comment| %>
	<p>
		<%= comment['content'] %>
	</p>
<% end %>

<p>
	<form action="/comments/<%= @row['id'] %>" method="POST" role="form">
		<textarea name="content" class="form-control" rows="6" placeholder="Enter text"></textarea></br>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>