<h2>Latest Post: </h2>
<hr />

<% @results.each do |post| %>
	<p>
		<%= post['content'] %>
		<br/>
		<br/>
		Added at <%= post['create_date'] %>
		<br/>
		<a href="/comments/<%= post['id'] %>">Comments</a>
	</p>
	<hr />

<% end %>